*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
  html, body {
    font-size: 50%;
  }
}

.cont {
  position: relative;
  height: 100%;
  
 background:url(../img/bg.jpg) no-repeat fixed;
  background-size: cover;
  overflow: auto;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}


.submit_ {
  position: relative;
  width: 100%;
  height: 4rem;
  color: rgba(255, 255, 255, 0.8);
  background: #000000;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}
.submit_:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  width: 3rem;
  height: 3rem;
  border: 2px dotted #fff;
  border-radius: 50%;
  border-left: none;
  border-bottom: none;
  -webkit-transition: opacity 0.1s 0.4s;
  transition: opacity 0.1s 0.4s;
  opacity: 0;
}
.submit_.processing {
  width: 4rem;
  font-size: 0;
}
.submit_.processing:after {
  opacity: 1;
  -webkit-animation: rotate 0.5s 0.4s infinite linear;
          animation: rotate 0.5s 0.4s infinite linear;
}
.submit_.success {
  -webkit-transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  -webkit-transform: scale(30);
          transform: scale(30);
  opacity: 0.9;
}
.submit_.success:after {
  -webkit-transition: opacity 0.1s 0s;
  transition: opacity 0.1s 0s;
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}

 .app__logout {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.app__logout {
  position: absolute;
  bottom: 3.3rem;
  right: 3.3rem;
  width: 4.6rem;
  height: 4.6rem;
  margin-right: -2.3rem;
  margin-bottom: -2.3rem;
  background: #FC3768;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: bottom 0.4s 0.1s, right 0.4s 0.1s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
  transition: bottom 0.4s 0.1s, right 0.4s 0.1s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
  transition: bottom 0.4s 0.1s, right 0.4s 0.1s, transform 0.4s 0.4s, opacity 0.1s 0.7s, background-color 0.1s 0.7s;
  transition: bottom 0.4s 0.1s, right 0.4s 0.1s, transform 0.4s 0.4s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.app__logout.clicked {
  bottom: 50%;
  right: 50%;
  -webkit-transform: scale(30) !important;
          transform: scale(30) !important;
  opacity: 0.9;
}
.app__logout.clicked svg {
  opacity: 0;
}
.app__logout-icon {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 50%;
  left: 50%;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
.app__logout-icon path {
  stroke-width: 4px;
  stroke-dasharray: 64.36235046386719;
  stroke-dashoffset: 64.36235046386719;
  -webkit-animation: animatePath 0.5s 0.5s forwards;
          animation: animatePath 0.5s 0.5s forwards;
}

svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: visible;
}

.svg-icon {
  cursor: pointer;
}
.svg-icon path {
  stroke: rgba(255, 255, 255, 0.9);
  fill: none;
  stroke-width: 1;
}

.text{
	
	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #ffffff;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 20px;
	line-height: 44px;
	font-weight: bold;
}


.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
}
.app.active {
  opacity: 1;
  }
.form  {
  margin: auto auto;
  position: fixed;
  bottom: -12px;
  left: 50%;
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  width: 350px;
  padding: 20px;
  overflow: hidden;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: inherit;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.form .forceColor {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.form:before {
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  background: inherit;
  left: -5%;
  right: 0;
  bottom: 0;
  top: -5%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.form.goAway {
  opacity: 0;
  -moz-transform: scale(0.6) translate3d(-50%, 0, 0);
  -ms-transform: scale(0.6) translate3d(-50%, 0, 0);
  -webkit-transform: scale(0.6) translate3d(-50%, 0, 0);
  transform: scale(0.6) translate3d(-50%, 0, 0);
  -moz-transition: -moz-transform 200ms ease-in-out, opacity 100ms linear;
  -o-transition: -o-transform 200ms ease-in-out, opacity 100ms linear;
  -webkit-transition: -webkit-transform 200ms ease-in-out, opacity 100ms linear;
  transition: transform 200ms ease-in-out, opacity 100ms linear;
  -moz-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
.form .topbar .spanColor {
  position: absolute;
  width: 0px;
  right: 20px;
  height: 43px;
  opacity: 0.2;
  background-color: white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
  -o-transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
  -webkit-transition: width 150ms ease-in-out, background-color 150ms ease-in-out, border 150ms ease-in-out;
  -webkit-transition-delay: 0s, 250ms, 250ms;
  transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
}
.form .topbar .input {
  display: block;
  width: 100%;
  position: relative;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 1rem;
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 25px;
  color: #ffffff;
  padding: 10px 20px;
}
.form .topbar .input::-webkit-input-placeholder {
  color: white;
  font-size: 1.2rem;
  font-family: Raleway;
  line-height: 1.3rem;
  font-weight: 200;
}
.form .topbar .input:focus {
  outline: none;
  color: white;
  border: 1px solid white;
}
.form .topbar .input.disabled:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.form .topbar .input:hover {
  border: 1px solid white;
}
.form .submit {
  padding: 10px 20px;
  width: 100%;
  font-size: 1.2rem;
  font-family: Raleway;
  font-weight: 200;
  display: block;
  color: white;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.form .submit:focus {
  outline: none;
}
.form .submit:hover {
  color: white;
  border: 1px solid white;
}
.form .submit.recover {
  background: #FF2B4B;
  color: white !important;
  border: 1px solid white !important;
  transition: all 400ms linear;
}

.topbar.error .spanColor {
  width: calc(100% - 39px);
  border-top-left-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom-left-radius: 6px;
  background-color: #FF2B4B;
}
.topbar.error + .submit {
  color: white;
}
.topbar.error .input {
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.topbar.error .input::-webkit-input-placeholder {
  color: white;
}

.topbar.success .spanColor {
  width: calc(100% - 39px);
  border-top-left-radius: 6px;
  border: 1px solid #26C97D;
  border-bottom-left-radius: 6px;
  background-color: #26C97D;
}
.topbar.success + .submit {
  color: white;
  border: 1px solid white;
}
.topbar.success .input {
  color: white;
  border: 1px solid #26C97D;
}
.topbar.success .input::-webkit-input-placeholder {
  color: white;
}

.ripple {
  position: absolute;
  width: 15rem;
  height: 15rem;
  margin-left: -7.5rem;
  margin-top: -7.5rem;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: animRipple 0.4s;
          animation: animRipple 0.4s;
  border-radius: 50%;
}

@-webkit-keyframes animRipple {
  to {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0;
  }
}

@keyframes animRipple {
  to {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0;
  }
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}
